li{
    display: flex;
    background-color:rgb(196, 195, 244) ;
    justify-content: space-evenly;
    padding: 40px;
    font: weight 300px;
}
.logo{
position: absolute;
left: 0px;
top: 0;;
width: 120px;
height: 120px;
}


a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color:rgb(23, 178, 126);
   padding: 10px;
}
li a{
    font-family:'Courgette',cursive;
}
.fas{
    position: absolute;
    top: 40px;

}