li{
    display: flex;
    background-color: #659DBD ;
    justify-content: flex-end;
    padding: 40px;
    font: weight 300px;;
    
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color:rgb(250, 250, 248);
   
}
