<ng-container *ngIf="nav.shownav()">
  <nav>
    <li>
      <ul>
        <a routerLink="home"
          ><img
            class="logo"
            src="../../assets/Screenshot from 2023-01-10 09-02-54-PhotoRoom.png-PhotoRoom.png"
        /></a>
      </ul>
      <ul>
        <a routerLink="home">Home</a>
      </ul>
      <ul>
        <a routerLink="products">Products</a>
      </ul>
      <ul>
        <a (click)="role.isadmin()">Admin</a>
      </ul>

      <ul *ngIf="hideuserurl">
        <a routerLink="login">Login</a>
      </ul>
      <ul *ngIf="hideuserurl">
        <a routerLink="Signup">Signup</a>
      </ul>
      <ul>
        <button routerLink="cart" class="btn">
          <i style="font-size:25px" class="fas fa-cart-plus"></i>
          <div style="font-size: 8px" class="badge bg-danger">
            {{ totalitem }}
          </div>
        </button>
      </ul>

      <ul>
        <a (click)="logout()" style="cursor: pointer" *ngIf="!hideuserurl"
          >Logout</a
        >
      </ul>
    </li>
  </nav>
</ng-container>
<ng-container *ngIf="nav.showadminnav()">
  <nav>
    <li>
      <ul>
        <a routerLink="home"
          ><img
            class="logo"
            src="../../assets/Screenshot from 2023-01-10 09-02-54-PhotoRoom.png-PhotoRoom.png"
        /></a>
      </ul>
      <ul>
        <a routerLink="home">Home</a>
      </ul>
      <ul>
        <a routerLink="products">Products</a>
      </ul>
      <ul>
        <a routerLink="admin/home/view">View Products</a>
      </ul>

      <ul *ngIf="hideuserurl">
        <a routerLink="login">Login</a>
      </ul>
      <ul *ngIf="hideuserurl">
        <a routerLink="Signup">Signup</a>
      </ul>

      <ul>
        <a (click)="logout()" style="cursor: pointer" *ngIf="!hideuserurl"
          >Logout</a
        >
      </ul>
    </li>
  </nav>
</ng-container>
<router-outlet></router-outlet>
