<div class="footer">
<footer>
  <div class="firstrow">
  </div>
<div class="secondrow">
</div>
<h1>MobiQ</h1>
<li>
  <ul><a routerLink="home">Home</a></ul>
  <ul><a routerLink="products">Products</a></ul>
  <ul><a routerLink="aboutus">Contact Us</a></ul>
</li>
<div class="brandlogos">
<i class="fa-brands fa-square-instagram fa-3x"></i>
<i class="fa-brands fa-square-twitter fa-3x"></i>
<i class="fa-brands fa-facebook fa-3x"></i>
</div>
<hr size="10">
<p class="footersmalltext">&copy; 2023 MobiQ. All Rights Reserved</p>
</footer>