
<footer class="footer">
<div class="first-row">
<h1>MobiQ</h1>
<li>
  <ul><a routerLink="home">Home</a></ul>
  <ul><a routerLink="products">Products</a></ul>
  <ul><a routerLink="aboutus">About Us</a></ul>
  <ul><a routerLink="login">Login</a></ul>
</li>
</div>
<div class="second-row">
  <h4 style="color: white;">Address :</h4>
  <p>No 1,Sipcot It Park,Chennai</p>
  <br>
 <h4 style="color:white;">Call Us:</h4><p>+91 8778127138</p><br>
    <h4 style="color: white"> For queries mail us: </h4> <p><a href="mailto:supportiqoocare@.com">supportiqoocare@.com</a></p>
</div>
<pre></pre>
<div class="brandlogos">
  <h2>Social Pages</h2>
  <i class="fa-brands fa-square-instagram fa-3x">&nbsp;<a href="https://www.instagram.com/iqooind/?hl=en" target="_blank">Instagram</a></i><br>
  <i class="fa-brands fa-square-twitter fa-3x">&nbsp;<a href="https://twitter.com/iqooglobal" target="_blank">Twitter</a></i><br>
  <i class="fa-brands fa-facebook fa-3x">&nbsp;<a href="https://www.facebook.com/iQOOIndia/" target="_blank">Facebook</a></i>
  </div>
  <p class="footersmalltext">&copy; 2023 MobiQ. All Rights Reserved</p>
</footer>

