<div [hidden]="submitted">Submitted Successfully</div>
<div class="formcontainer">
<form #loginform="ngForm" style="text-align: center;"  (submit)="Onsubmit(loginform)">
  <label for="username">Username</label>
  <input type="text" #name="ngModel" class="form-control" maxlength="10" required  name="username" [(ngModel)]="login.username">
  <pre></pre>
  <label for="password">Password</label>
  <input type="password"  class="form-control" maxlength="5" required name="password"  [(ngModel)]="login.password"> 
  <pre></pre>
  <select [(ngModel)]="select" name="select" required >
    <option value="1">Admin
    </option>
    <option value="2">
      User
    </option>
  </select>
  <pre></pre>
<!-- <input type="submit" class="btn btn-primary" > -->
<button type="submit" class="btn btn-primary" [disabled]="!loginform.valid">Submit</button>
<!-- <input type="reset" class="btn btn-secondary"> -->
<button class="resetform" (click)="resetform(loginform)">Reset</button>
<button class="btn btn primary" (click)="setvalues(loginform)">Setvalues</button>
</form>
<pre></pre>
<a href="">Forgot Password?</a>
</div>  
{{login|json}}
{{loginform.value|json}}

