<div class="body">
<div class="formcontainer">
<form #loginform="ngForm" style="text-align: center;" (ngSubmit)="Onlogin(loginform)">
  <h1>Login</h1><br><br>
  <label for="username">Username</label>
  <input type="text" #name="ngModel" class="form-control"  required  name="username" pattern="[a-z]{4,8}" [(ngModel)]="login.username">
  <pre></pre>
  <label for="password">Password</label>
  <input type="password"  class="form-control"  required name="password" [(ngModel)]="login.password" > 
  <pre></pre>
<button type="submit" class="btn btn-primary"  [disabled]="!loginform.valid" >Login</button>
</form>
<pre></pre>
<a routerLink="/Signup">New User?Signup Here</a>
</div>
</div>