<div class="we-are-block">
  <div id="about-us-section">
    <div class="about-us-image">
      <img
        src="../../assets/pexels-torsten-dettlaff-56904.jpg"
        width="808"
        height="458"
        alt="Lobby Image"
      />
    </div>
    <div class="about-us-info">
      <h2 class="title">MobiQ</h2>
      <p></p>
      In March 2019, the world's second largest smartphone manufacturer, BBK
      Electronics,announced MobiQ as a sub-brand of Vivo as its newest member to
      its smartphone brand lineup along with Oppo, Vivo, Realme and OnePlus.The
      brand was introduced in India in February 2020.The MobiQ is also a
      performance focused sub-brand giving more importance to build and market
      their phones specifically for gaming and other performance intense tasks,
      rather than their Vivo phones focusing mainly on camera and sound quality.
      The smartphone MobiQ 3 introduced on 25 February 2020 is their first
      smartphone with Snapdragon 865 giving a competitive advantage for
      gamers.The smartphones are sold online initially. The company has an
      office in Bangalore and the smartphones sold in India are manufactured in
      the facilities of Vivo
      <a>ABOUT US</a>
    </div>
  </div>
  <br /><br />
  <br />
  <router-outlet></router-outlet>
</div>
