<div class="formcontainer">
    <form #updateproductform="ngForm" > 
        <h1>Update Products</h1>
      <label>Product Id</label><br>
    <input type="number" placeholder="enter your product id" ngModel name="id"><br>
    <label>Product Name</label><br>
    <input type="text" placeholder="enter your product name " ngModel name="name"><br>
    <label>Product Price</label><br>
    <input type="number" placeholder="enter your product price" ngModel name="price"><br>
    <label>Product Image</label><br>
    <input type="text" ngModel name="url"  ><br>
    <label>Product Variant</label><br>
    <input type="text" ngModel placeholder="enter your product variant" name="variant">
    <br>
    <button class="button" >Submit</button>
    </form>
    </div>