<div class="series">
  <a (click)="ngOnInit()"><span class="thick-font">All</span></a>
  <a (click)="getneo()"><span class="thick-font">Neo Series</span></a>
  <a (click)="geteleven()"><span class="thick-font">11 Series</span></a>
  <a (click)="getzseries()"><span class="thick-font">Z Series</span></a>
  <a (click)="getnineseries()"><span class="thick-font">9 Series</span></a>
</div>
<div class="hrlo">
  <mat-card class="example-card" *ngFor="let mobile of value">
    <img class="mat-card-image" src="{{ mobile.Image }}" alt="Mobile" />
    <mat-card-footer>
      <mat-card-title class="Mname">{{ mobile.Name }}</mat-card-title>
      <mat-card-title class="Mprice">&#8377;{{ mobile.Price }}</mat-card-title>
      <mat-card-subtitle class="Mvariant">{{
        mobile.Variant
      }}</mat-card-subtitle>
    </mat-card-footer>
    <mat-card-actions>
      <div>
        <button type="button" class="btn" (click)="decreaseproduct(mobile)"><i class="fa-solid fa-minus"></i></button>
        {{ mobile.quantity }}
        <button type="button" class="btn" (click)="increaseproduct(mobile)"><i class="fa-solid fa-plus"></i></button>
      </div>
    </mat-card-actions>
    <mat-card-actions>
      <div>
        <button mat-button (click)="addtocart(mobile)" class="addtocartbutton">Add to Cart</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
