<div class="hrlo">
<mat-card class="example-card" *ngFor="let mobile of val">
    <img class="mat-card-image" src="{{mobile.Image}}" alt="Photo of a Shiba Inu">
    <!-- <mat-card-content>
      <p>
      </p>
    </mat-card-content> -->
    <mat-card-footer>
     <mat-card-title>{{mobile.Name}}</mat-card-title>
     <mat-card-title>{{mobile.Price}}</mat-card-title>
      <mat-card-subtitle>{{mobile.variant}}</mat-card-subtitle>
    </mat-card-footer>
    <mat-card-actions>
      <button mat-button (click)="addtocart(mobile)">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <div class="card"> 
<h1>Cards</h1>
<h2></h2>
</div>
 -->


 

<!-- <div>
  <div class="card">
  <div class="product-card">
      <div class="badge">BestSelling</div>
      <div class="product-tumb">
          <img src="../../assets/iqoo-neo-6-5g.jpg" alt="">
      </div>
      <div class="product-details">
          <span class="product-catagory">Iqoo neo series</span>
          <h4><a href="">IQOO NEO 6</a></h4>
          <p>8GB+128GB</p>
          <div class="product-bottom-details">
              <div class="product-price"><small>$29,999</small>$26,999</div>
              <div class="product-links">
                  <a href=""><i class="fa fa-heart"></i></a>
                  <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
          </div>
      </div>
  </div>
     
  <div class="product-card">
      <div class="badge">Trending</div>
      <div class="product-tumb">
          <img src="../../assets/iqoo-z6-lite-6gb-ram.jpg" alt="">
      </div>
      <div class="product-details">
          <span class="product-catagory">Iqoo Z6 lite</span>
          <h4><a href="">IQOO Z6 LITE</a></h4>
          <p>6GB+128GB</p>
          <div class="product-bottom-details">
              <div class="product-price"><small>$18,999</small>$15499</div>
              <div class="product-links">
                  <a href=""><i class="fa fa-heart"></i></a>
                  <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
          </div>
      </div>
  
  </div><br>
          <div class="product-card">
              <div class="badge">New</div>
              <div class="product-tumb">
                  <img src="../../assets/iqoo-9t-12gb-ram-256.jpg" alt="">
              </div>
              <div class="product-details">
                  <span class="product-catagory">Iqoo 9 series</span>
                  <h4><a href="">IQOO 9T</a></h4>
                  <p>12GB+256GB</p>
                  <div class="product-bottom-details">
                      <div class="product-price"><small>$53,999</small>$49,999</div>
                      <div class="product-links">
                          <a href=""><i class="fa fa-heart"></i></a>
                          <a href=""><i class="fa fa-shopping-cart"></i></a>
                      </div>
                  </div>
              </div>
          </div>
                  <div class="product-card">
                      <div class="badge">Trending</div>
                      <div class="product-tumb">
                          <img src="../../assets/iqoo-11-pro-5g.jpg" alt="">
                      </div>
                      <div class="product-details">
                          <span class="product-catagory">Iqoo 11 series</span>
                          <h4><a href="">IQOO 11 PRO</a></h4>
                          <p>12GB+256GB</p>
                          <div class="product-bottom-details">
                              <div class="product-price"><small>$59,999</small>$54999</div>
                              <div class="product-links">
                                  <a href=""><i class="fa fa-heart"></i></a>
                                  <a href=""><i class="fa fa-shopping-cart"></i></a>
                              </div>
                            
                          </div>
                      </div>
                      
                  </div>
                  
           </div>
  
  
   -->
