label,input{
    margin:5px;

}
.formcontainer{
    background-color: rgba(81, 69, 123, 0.3);
    height: 650px;
    width: 500px;
    box-shadow: 0 5px 10px #b81515,0 5px 20px rgb(0, 191, 255);
    padding: 30px;
    margin: 100px;
    margin-left: 600px;
}
input{
    width: 400px;
    height: 50px;
}
.button{
background-color: blue;
padding: 10px;
color: white;
border-radius: 5px;
width: 130px;
margin: 10px;
margin-left:150px;
}
form{
margin-top: 30px;
}

.ng-invalid:not(form){
    background-color: #b81515;
}

a{
    text-decoration: none;
    color: black;
}
h1{
    font-family:'Courgette',cursive;
    text-align: center;
}