<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="/products"><img src="../assets/d06abb1cc26593572b3d34f69dcea205.jpg" class="d-block w-10" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/products"><img src="../assets/dfcd0c3d5283e40d1a020d1075bc6273.jpg" class="d-block w-10" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/products"><img src="../assets/7767cb2430492bfc4d8886725815b98a.jpg" class="d-block w-10" alt="..."></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>
<pre></pre>
<h2 class="title">
  TOP CATEGORIES
</h2><br>
<div class="categoryimage">
<a routerLink="/products"><img src="../../assets/iqoo-neo-6-5g.jpg" alt="category1"><div class="firstsection">Iqoo Neo Series</div></a>
<a routerLink="/products"><img src="../../assets/iqoo-z6-lite-6gb-ram.jpg" alt="category1"><div class="secondsection">Iqoo Z Series</div></a>
<a routerLink="/products"><img src="../../assets/iqoo-11-5g.webp" width="400px" height="500px" alt="category1"><div class="thirdsection">Iqoo 11 Series </div>
</a> 
</div>
<br>
<br>
<br>
<br>
